<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-brand">State of Peace in the World</p>
    </div>
    <div>
  </div>
</nav>





<div id="list_of_peace_indicators" class="dropdown">
	<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Peace indicators
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
		<li class="text-left" id="hdi">Human Development Index</li>
		<li class="text-left" id="edu_index">Education Index</li>
		<li class="text-left" id="heal_index">Health Index</li>
		<li class="text-left" id="edu_exp">GDP Education</li>
		<li class="text-left" id="heal_exp">GDP Health</li>
		<li class="text-left" id="life">Life expetancy</li>
		<li class="text-left" id="gdp">GDP</li>
	</ul>
</div>





<div id="map-container"></div>

<div id="info-window"></div>






