<h1>Peaces#index</h1>

<div id="map-container">
	<p>Map conteiner</p>
		
</div>







<div class="list_of-countries">
	<% @peaces.each do |peace| %>
		<ul>
			<li> <%= peace.country_name  %> </li>
		</ul>
	<% end %>
</div>