<div id="list_of_peace_indicators">
	<ul>
		<li>Human Development Index</li>
		<li>Education Index</li>
		<li>Health Index</li>
		<li>GDP Education</li>
		<li>GDP Health</li>
		<li>Health Index</li>
		<li>Life expetancy</li>
		<li>GDP</li>
	</ul>
</div>




<div id="map-container"></div>

<div id="info-window"></div>






