<div id="list_of_peace_indicators">
	<ul>
		<li id="hdi">Human Development Index</li>
		<li id="edu_index">Education Index</li>
		<li id="heal_index">Health Index</li>
		<li id="edu_exp">GDP Education</li>
		<li id="heal_exp">GDP Health</li>
		<li id="life">Life expetancy</li>
		<li id="gdp">GDP</li>
	</ul>
</div>




<div id="map-container"></div>

<div id="info-window"></div>






