<div id="map-container">
</div>






<!-- <div id="list_of_countries_names">
	<% @peaces.each do |peace| %>
		<ul>
			<li> <%= peace.country_name  %> </li>
		</ul>
	<% end %>
</div>

<div id="list_of-countries_codes">
	<% @peaces.each do |peace| %>
		<ul>
			<li> <%= peace.country_code  %> </li>
		</ul>
	<% end %>
</div> -->