<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-brand">State of Peace in the World</p>
    </div>
   </div>
</nav>





<div id="list_of_peace_indicators" class="dropdown">
	<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Peace indicators
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
		<li class="text-left" id="hdi_index">Human Development Index</li>
		<li class="text-left" id="edu_index">Education Index</li>
		<li class="text-left" id="heal_index">Health Index</li>
		<li class="text-left" id="edu_exp">GDP Education</li>
		<li class="text-left" id="heal_exp">GDP Health</li>
		<li class="text-left" id="life">Life expetancy</li>
		<li class="text-left" id="gdp">GDP</li>
	</ul>
</div>





<div id="map-container"></div>

<div id="map-legend"></div>

<div id="info-window"></div>

<div id="info-country">
	<h2 id="country_name"></h2>

	<p id="hdi_index_title">Human Development Index</p>
	<div id="hdi_index_data"></div>

	<p id="edu_index_title">Education Index</p>
	<div id="edu_index_data"></div>

	<p id="heal_index_title">Health Index</p>
	<div id="heal_index_data"></div>

	<p id="edu_exp_title">Education Expenditure</p>
	<div id="edu_exp_data"></div>

	<p id="heal_exp_title">Health Expenditure</p>
	<div id="heal_exp_data"></div>

	<p id="life_tittle">Life Expectancy</p>
	<div id="life_data"></div>

	<p id="gdp_title">GDP</p>
	<div id="gdp_data"></div>

</div>
