// Place all the styles related to the peaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

///////////////////////////////////////////////////////////////////////////////
// Colours
///////////////////////////////////////////////////////////////////////////////
$primary-color: rgb(113, 113, 113);
$secondary-color: rgb(255, 255, 255);

///////////////////////////////////////////////////////////////////////////////
// Nav bar
///////////////////////////////////////////////////////////////////////////////

.navbar-default{
	margin-bottom: 0px;
    border-bottom-width: 0px;
	height: 50px;
	border-radius: 2px;
	background-color: $primary-color;
	.navbar-brand {
		color: $secondary-color;
	}
}



#map-container {
	width: 100%;
	height: 800px;
	
}

#list_of_countries_names {
	display: inline-block;

}

#list_of_peace_indicators {
 // position: absolute; //
 
}

#info-window {
	width: 100px;
  	height: 75px;
  	background-color: white;

}


#map-legend {
	height: 50px;
}

#info-country {
	height: 400px;
	width: 400px;

}

.yAxis {
	padding: 30px;
}
