// Place all the styles related to the peaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#map-container {
	height: 100%;
	width: 100%;
}

#list_of_countries_names {
	display: inline-block;

}

#list_of-countries_codes {
	display: inline-block;	
}
