// Place all the styles related to the peaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

///////////////////////////////////////////////////////////////////////////////
// Colours
///////////////////////////////////////////////////////////////////////////////
$primary-color: rgb(113, 113, 113);
$secondary-color: rgb(255, 255, 255);

///////////////////////////////////////////////////////////////////////////////
// Fonts
///////////////////////////////////////////////////////////////////////////////
// $primary-font: "Times New Roman", Times, serif;
// $secondary-font: 

///////////////////////////////////////////////////////////////////////////////
// Nav bar
///////////////////////////////////////////////////////////////////////////////

.navbar-default{
	// font-family: $primary-font;
	margin-bottom: 0px;
    border-bottom-width: 0px;
	height: 50px;
	border-radius: 2px;
	background-color: $primary-color;
	.navbar-brand {
		font-size: 25px;
		color: $secondary-color;
	}
}

.btn{
	width: 183px;
	// font-family: $primary-font;
	border-radius: 1px;
	color: $secondary-color;
  	background-color: $primary-color;
  	border-color: $secondary-color;
  	font-size: 16px;
}

.btn-primary:hover{
	border-radius: 1px;
	color: $primary-color;
  	background-color: $secondary-color;
  	border-color: $primary-color;
  	font-size: 16px;

}

.btn-primary:active:hover, 
.btn-primary:active:focus, 
.btn-primary:active.focus, 
.btn-primary.active:hover, 
.btn-primary.active:focus, 
.btn-primary.active.focus, 
.open > .btn-primary.dropdown-toggle:hover, 
.open > .btn-primary.dropdown-toggle:focus, 
.open > .btn-primary.dropdown-toggle.focus {
	border-radius: 1px;
	color: $primary-color;
  	background-color: $secondary-color;
  	border-color: $primary-color;
  	font-size: 16px;
}


.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
  background-color: $secondary-color;
}

.dropdown {
	padding-right: 5px;
    padding-left: 5px;
	border-radius: 1px;
	color: $primary-color;
  	background-color: $secondary-color;
  	border-color: $primary-color;
  	font-size: 12px;
  	li {
	  	padding-right: 5px;
	    padding-left: 5px;
  	}

  	li:hover {
  		background-color: $primary-color;
  		color: $secondary-color;
  	}
}

.dropdown-menu{
	  border-radius: 1px;
	  top: 95%;
	  width: 183px;
}



#map-container {
	width: 100%;
	height: 800px;
	
}

#list_of_countries_names {
	display: inline-block;

}

#list_of_peace_indicators {
	position: absolute;
	display: inline-block;
	top: 60px;
	right: 50px;
    padding-left: 0px;
    padding-right: 0px;
}

#info-window {
	
  	background-color: $primary-color;
  	color: $secondary-color;

}

#map-legend {
	position: absolute;
	top: 94%;
	left: 45%;
	display: inline-block;
	width: 15%;
	height: 50px;
	  
}

#info-country {
	padding: 1%;
  	display: inline-block;
  	border: 1px solid $primary-color;
 	border-radius: 2px;
 	position: absolute;
  	top: 8%;
  	left: 1%;
  	background-color: rgba(255, 255, 255, .85)

}

#hdi_index_wrapper{
	// margin-bottom: -33%;
	display: inline-block;
  	text-align: center;

}

#hdi_index_data {
	display: inline-block;
	margin-left: 10%;
  	}

#edu_index_wrapper{
	display: inline-block;
}

#heal_index_wrapper{
	display: inline-block;
}

#edu_exp_wrapper {
	display: inline-block;
}

#heal_exp_wrapper{
	display: inline-block;
}

#life_wrapper{
	display: inline-block;
}

#gdp_wrapper {
	display: inline-block;
}

.row_info_country{
	margin-bottom: -45%;
}

#close {
	position: relative;
	text-align: right;
}

#country_name {
	margin-top: 1%;
}












